header {

    background-color: white;
    border-style: double;
    grid-area: header;
    padding: 0.1em;
    grid-area: header;
    margin-bottom: 0.1em;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

main {
    color: white;
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    color: white;
    grid-area: footer;
    text-align: center;
}


.first {
    height: auto;
    width: 20%;
    padding: 5%;
}

.first1 {
    height: auto;
    width: 20%;
    padding: 2%;
}

.sitepic {
    height: auto;
    width: 40%;
    padding: 5%;
    align-items: center;
}

.second {
    display: block;
    height: auto;
    width: 20%;
    padding: 5em;
    margin-left: auto;
    margin-right: auto;

}

.text {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.text2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;

}

.reporttext{
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: large;
        text-align: center;
    
}
.heads {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: larger;

}


form {
    display: grid;
    width: 25em;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
}

input[type="submit"] {
    grid-column: 2;
}

#check {
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    padding-right: 15em;

}

#login {
    padding: %;
    font-size: small;
}

#termss {
    padding: 5%;
    font-size: small;
}

.firstname {
    width: 100em;
}

.submit {
    width: 7em;
    font-weight: bolder;
}


#QNA {
    display: grid;
    padding: 1em;
    align-items: center;
}

#emailbutton{
    text-align: center;
    align-items: center;
    border-style: double;
    text-decoration: none;
    color: white;

}


body {
    background: linear-gradient(-45deg, red, #cc0000, #800000, #ff4d4d, #ff6666);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    height: auto;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
